@{
    ViewData["Title"] = "Signin";
}


<div class="container"  style="border: 1px solid black; padding: 30px; width: 50%; border-radius: 6px;   margin: 50px;">
  <form action="VerifyLogin" id="form" method="Post">
    <h1>SignIn</h1>
    <div class="form-group">
  
    <div class="form-group">
      <label for="usr_name">Email</label>
      <input type="text" class="form-control" id="usr_name" name="usr_name">
      <div class="error"></div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="pass" name="pass">
      <div class="error"></div>
    </div>
   
    <button type="submit" class="btn btn-primary mt-3" onclick="signup()">SignIn</button>
    <p>create account <a class="nav-link text-dark  fw-bold" asp-area="" asp-controller="Home" asp-action="signup">signup</a></p>
  </form>
</div>

