@{
    ViewData["Title"] = "aboutus";
}

<div class="text-center">
    <h1 class="display-4">AboutUs</h1>
    <p>About My Self<a href="https://docs.microsoft.com/aspnet/core">Hi Am Prabhharn From Trichy
    I like to bea software engineer. though i completed mechnical engineering i like to work It field</a>.</p>
</div>
