@{
    ViewData["Title"] = "contactus";
}

<div class="text-center">
    <h1 class="display-4">Contactus</h1>
    <p>Contact number<a href="https://docs.microsoft.com/aspnet/core">Contactus by phone no : 9043792705</a>.</p>
</div>
