@{
    ViewData["Title"] = "signin";
}

<div class="text-center">

   

</div>
<div class="p-3 mb-2 bg-secondary text-white shadow p-3 mb-5 bg-body-tertiary rounded">
 <img src="https://images.pexels.com/photos/3183132/pexels-photo-3183132.jpeg?auto=compress&cs=tinysrgb&w=600" class="col-md-6 float-md-end mb-3 ms-md-3  h-100 d-inline-block">
  <form class="w-50 p-3">
  <h1 class="text-center">SignIn</h1>
 
  
  <div class="mb-3">
    <label for="exampleInputUsername1" class="form-label">Username</label>
    <input type="text" class="form-control" id="exampleInputUsername1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputCPassword1" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputCPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary w-100 p-3">Submit</button>
</form>  
</div>