@{
    ViewData["Title"] = "Home Page";
}

<!-- title -->
	<h1>
		
		<span>L</span>ogin
		<span>F</span>orm
	</h1>
	<!-- //title -->

	<!-- content -->
	<div class="sub-main-w3">
		<form class="login" action="#" method="post">
			<p class="legend">Login Here<span class="fa fa-hand-o-down"></span></p>
			<div class="input">
				<input type="email" placeholder="Email" name="email" required />
				<span class="fa fa-envelope"></span>
			</div>
			<div class="input">
				<input type="password" placeholder="Password" name="password" required />
				<span class="fa fa-unlock"></span>
			</div>
			<button type="submit" class="submit">
				<span class="fa fa-sign-in"></span>
			</button>
		</form>
	</div>
	<!-- //content -->
