<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Walk_in_Style</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Walk_in_Style.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="~/css/font-awesome.min.css" rel="stylesheet"asp-append-version="true" />
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"asp-append-version="true" />
      <!--//style sheet end here-->
      <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet"asp-append-version="true" />
      <!-- css files -->
	<link href="~/css/regstyle.css" rel="stylesheet" type="text/css" media="all" asp-append-version="true" />
	<!-- css files -->

	<!-- Online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<!-- //Online-fonts -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm 
navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold text-primary" asp-area="" asp-controller="Login" asp-action="Index">Walk in Style</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" asp-area="" asp-controller="Login" asp-action="services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" asp-area="" asp-controller="Login" asp-action="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary"asp-area="" asp-controller="Login" asp-action="about">About</a>
                </li>
                
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary"asp-area="" asp-controller="Login" asp-action="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary"asp-area="" asp-controller="Login" asp-action="register">SignUp</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <div class="media">
                            <img src="profile-image.jpg" class="mr-3" alt="Profile Image" style="width: 50px; height: 50px;">
                            <div class="media-body">
                                <h5 class="mt-0">Username</h5>
                                <a href="#" class="dropdown-item">Profile</a>
                                <a href="#" class="dropdown-item">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Walk_in_Style - <a asp-area="" asp-controller="Login" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
